<header class="header">
  <div class="logo">
  <img src="assets/profile-photo.jpeg" alt="Profile" class="profile-pic">
  <h1>Harshavardhan</h1>
</div>


  <nav>
    <ul class="nav-links">
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </nav>

  <div class="nav-actions">
    <a href="#" class="btn resume-btn">Resume</a>
    <a href="#contact" class="btn contact-btn">Contact</a>
  </div>
</header>
