<header class="header">

  <div class="logo">
    <img src="src/assets/profile-photo.jpeg" class="profile-pic" id="profileImage">
    <h1>Harshavardhan Reddy Yakkanti</h1>
  </div>

  <ul class="nav-links">
    <li><a href="#hero">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>

  <div class="nav-actions">
    <a href="src/assets/resume_harshavardhan.pdf" target="_blank" class="btn resume-btn">View Resume</a>
    <a href="#contact" class="btn secondary-btn">Contact</a>
  </div>

</header>
